.table-badge {
    width: 70px;
    font-size: 10.2px;
}

.active-status {
    color: $success;
    font-size: 18px;
}

.inactive-status {
    color: #b6b6b6;
    font-size: 18px;
}

.badge-font-size{
    font-size: 15px
}