.daterangepicker.show-ranges .drp-calendar.col.left {
  position: relative;
  border-left: 0px solid #ddd;
  padding-right: 30px
}

.daterangepicker.show-ranges .drp-calendar.col.right {
  padding-right: 0px;
  margin-right: 0px;
}
  
  .daterangepicker .ranges li.active {
    background-color: #5A6268;
    color: #fff;
  }

  .reportrange-text {
    height: 32px;
  }

  .calendars.row.no-gutters {
    
  }
  
  .daterangepicker td.active,
  .daterangepicker td.active:hover {
    background-color: #5A6268;
    border-color: transparent;
    color: #fff;
  }