.form-text {
    font-size: 10px;
    margin: 0px;
  }

  span {
    font-size: 13px;
    font-weight: 500;
    }

  select {
    width: 400px;
    // text-align-last: center;
    padding: 10px;
    margin-left: 3px;
  }