.bottomlabel{
    color: gray; 
    font-size: 11px;
  }

  .page-item.active .page-link {  
    background-color: #743013 !important;  
    border-color: #743013 !important;  
    transition: background-color .3s;
  } 
  .page-item .page-link {
    color: black
  }

  .page-link {
    color: #743013;
  }
  
  .pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    /* line-height: 1.5; */
    color: black;
    background: white;
  }
