::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}
  ::-webkit-scrollbar-track {
    background: white;
}
  ::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border-radius: 50px;
}
  ::-webkit-scrollbar-thumb:hover {
    background: #808080;
}